#main-form{
    background-image: url(../Images/mainbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#first-form{
    background-image: url(../Images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#second-form{
    background-image: url(../Images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#third-form{
    background-image: url(../Images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#fourth-form{
    background-image: url(../Images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#navbar-box{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}